:root {
  --default-background: #3E464C;
  --solid-background: #22303E;
  --text-primary: rgba(34, 48, 62, 0.9);
  --text-secondary:  rgba(34, 48, 62, 0.7)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 60px;
}

.container {
  margin: 0;
  padding: 0;
  max-width: -webkit-fill-available;
  margin-top: 4rem !important;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.nav-pills {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-pills .bi::before{
  font-weight: bold !important;
}

.nav-pills .nav-link {
  border: 1px solid var(--default-background);
  background-color: #fff;
  color: var(--default-background);
}

.nav-pills .nav-link.active {
  background-color: var(--default-background);
  color: #fff;

  .icon i {
    background-color: #fff;
    color: var(--default-background);
  }
}

.btn-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 170px;
  border: none;
  border-radius: 6px;
  background-color: var(--solid-background);
  color: #fff;
  padding: 4px 8px;
}

.btn-service i {
  font-size: larger;
}

.icon {
  gap: 12px;

  p {
    font-size: 16px;
    font-weight: 500;
  }

  span {
    font-size: 14px;
  }
}

.icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  background-color: var(--default-background);
  font-size: large;
  color: #fff;
}

.bi-scissors {
  transform: rotate(90deg);
}

select option:selected {
  color: #ccc;
}

.container h2 {
  color: var(--text-primary);
  font-size: 18px;
  padding: 12px;
}

.table th {
  text-align: left;
  font-weight: normal;
  color: var(--text-primary);
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
}

.table td {
  padding: 0.75rem;
  vertical-align: middle;
  color: var(--text-secondary);
}

.actions {
  text-align: right;
}

.actions-mobile {
  text-align: left;
}

.actions i, .actions-mobile i {
  margin-left: 0.5rem;
  cursor: pointer;
}

#step1 h2,
#step2 h2,
#step3 h2 {
  font-size: 24px;
}

.btn-back, .btn-next {
  display: flex;
  justify-content: end;
  margin-top: 5rem !important;
}

@media (max-width: 1200px) {
  .btn-service {
    width: 100%;
    margin-top: 1.2rem !important;
  }

  .btn-next {
    margin-top: 2rem !important;
  }
}

@media (max-width: 768px) {
  .actions-mobile {
    display: flex !important;
  }

  #mobile-th {
    display: table-cell !important;
  }

  .actions {
    display: none;
  }
}