:root {
  --default-background: #3E464C;
  --solid-background: #22303E;
  --text-primary: rgba(34, 48, 62, 0.9);
  --text-secondary: rgba(34, 48, 62, 0.7);
  --secondary-light-bg: rgba(133, 146, 163, 0.16);
  --secondary-primary-bg: rgba(133, 146, 163, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 60px;
}

.container {
  margin: 0;
  padding: 0;
  max-width: -webkit-fill-available;
  margin-top: 4rem !important;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

p {
  margin: 0;
}

.nav-pills {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-pills .bi::before {
  font-weight: bold !important;
}

.nav-pills .nav-link {
  border: 1px solid var(--default-background);
  background-color: #fff;
  color: var(--default-background);
}

.nav-pills .nav-link.active {
  background-color: var(--default-background);
  color: #fff;

  .icon i {
    background-color: #fff;
    color: var(--default-background);
  }
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
}

.btn-primary.btn-prev {
  background-color: var(--secondary-light-bg);
  color: var(--secondary-primary-bg);
  border: 1px solid var(--secondary-primary-bg);
}

.btn-primary.btn-prox {
  background-color: var(--solid-background);
  color: #fff;
}

.btn-primary.btn-create {
  background-color: var(--solid-background);
  color: #fff;
  width: 190px;
}

.icon {
  gap: 12px;

  p {
    font-size: 16px;
    font-weight: 500;
  }

  span {
    font-size: 14px;
  }
}

.icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  background-color: var(--default-background);
  font-size: large;
  color: #fff;
}

.bi-scissors {
  transform: rotate(90deg);
}

select option:selected {
  color: #ccc;
}

.container h2 {
  color: var(--text-primary);
  font-size: 18px;
  padding: 12px;
}

.table th {
  text-align: left;
  font-weight: normal;
  color: var(--text-primary);
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
}

.table td {
  padding: 0.75rem;
  vertical-align: middle;
  color: var(--text-secondary);
}

.actions {
  text-align: right;
}

.actions-mobile {
  text-align: left;
}

.actions i,
.actions-mobile i {
  margin-left: 0.5rem;
  cursor: pointer;
}

#step1 h2,
#step2 h2,
#step3 h2 {
  font-size: 24px;
}

.btn-back,
.btn-next {
  display: flex;
  justify-content: end;
  margin-top: 5rem !important;
}

input[type="file"] {
  display: none;
}

label.btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--solid-background);
  color: #fff !important;
  font-weight: 500;
  cursor: pointer;
}

.modal-dialog {
  max-width: 60%;
}

.modal-content {
  padding: 1.2rem 2.5rem;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  max-width: 800px;
  margin: auto;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: none;
}

.modal-header h1 {
  font-size: 20px;
  color: var(--text-primary);
  font-weight: 600;
}

.modal-header p {
  color: var(--text-secondary);
  font-size: 14px;
}

.modal-header .btn-close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modal-body {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-body label {
  font-weight: 500;
  color: var(--text-primary);
}

.modal-body input,
.modal-body select {
  padding: 10px 12px;
  border: 1px solid var(--secondary-primary-bg);
  border-radius: 8px;
  font-size: 14px;
  color: var(--text-primary);
  background-color: #f9f9f9;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding-top: 16px;
}

.modal-footer .btn-secondary {
  background-color: #F2F4F7;
  color: var(--text-primary);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;

}

.modal-footer .btn-primary {
  background-color: var(--solid-background);
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 32px;
  max-width: 800px;
  margin-bottom: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
}


.form-avatar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 24px;
}

.form-avatar img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid var(--solid-background);
  margin-bottom: 12px;
}

.avatar-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.form-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

.form-radio {
  display: flex;
  align-items: center;
  gap: 16px;
}


@media (max-width: 1200px) {
  .btn-primary.btn-create {
    width: 100%;
    margin-top: 1.2rem !important;
  }

  .btn-next,
  .btn-back {
    margin-top: 2rem !important;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-options {
    gap: 0;
  }

}

@media (max-width: 1042px) {
  .nav-pills {
    justify-content: space-between;
  }

  .conclused-step,
  .conclused-step .nav-item,
  .service-step .nav-item,
  .professionals-step .nav-item {
    width: 100%;
  }

  .professionals-step {
    width: 50%;
  }

  .service-step {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .actions-mobile {
    display: flex !important;
  }

  .nav-pills {
    justify-content: center;
  }

  .btn-back,
  .btn-next {
    width: 100%;
  }

  .btn-primary.btn-prev,
  .btn-primary.btn-prox {
    width: 100%;
  }

  .nav-pills p,
  .nav-pills span {
    display: none;
  }

  .nav-pills .icon {
    gap: 0;
  }

  #mobile-th {
    display: table-cell !important;
  }

  .actions {
    display: none;
  }

  .conclused-step,
  .conclused-step .nav-item,
  .service-step .nav-item,
  .professionals-step .nav-item {
    width: auto;
  }

  .professionals-step {
    width: auto;
  }

  .service-step {
    width: auto;
  }

  .modal-dialog {
    max-width: 80%;
  }
}

@media (max-width: 575px) {
  #createProfessional {
    top: 0;
    left: 0;
    right: 0;
    --bs-modal-margin: 1.75rem;
  }

  .modal-dialog {
    max-width: 90%;
  }

  .form-avatar {
    flex-direction: column;
  }
}

@media (max-width: 475px) {

  #i1,
  #i2,
  #i3 {
    display: none;
  }

  .avatar-buttons {
    flex-direction: column;
  }

  div small {
    font-size: 12px !important;
  }
}

@media (max-width: 381px) {
  .modal-footer {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .nav-pills .nav-link {
    padding: 8px;
  }
  .form-group {
    max-width: 12rem;
  }

  .form-grid {
    place-items: center;
  }
}

@media (max-width: 320px) {
  .form-group {
    max-width: 10rem;
  }
  
}